/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0;
	background: #248a83;
	// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: #fff;
	@include font-size(0.75);
	line-height: 1;
	padding:10px 20px;
	cursor: pointer;
	text-decoration: none;
    text-transform: uppercase;
	&:hover {
		background: #19625d;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

label {
	font-size: 1.2rem;
	font-family: 'Novecento Sans',sans-serif;
	span {
		color: #d99054;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	background: #f4f4f4;
	&:focus {
		color: #111;
	}

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 1rem;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
