/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
    color: $color__link; // &:visited {
    //     color: $color__link-visited;
    // }
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
        color: $yellow_color;
    }
}

/* Menus */

.site-branding {
    width: 50px;
}

.site-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    background: rgba(255, 255, 255, 0.6);
    border-bottom: #e1e1e1 1px solid;
    .logo_svg {
        background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
        background-size: 50px 33px;
        height: 33px;
    }
    a {
        color: $green_brand_color !important;
    }
    &.site-header {
        position: absolute;
        width: 100vw;
        z-index: 10;
        background-color: transparent;
        border: none;
        .logo_svg {
            background: url('../../images/logos/inhabitent-logo-tent-white.svg') no-repeat;
            background-size: 50px 33px;
            height: 33px;
        }
        a {
            color: $white_text !important;
            &:hover {
                color: $yellow_color !important;
            }
        }
    }
    .header_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-form {
        margin-left: 10px;
        right: 200px;
        top: 200px;
        color: #f0e4d1;
        .search-submit {
            display: inline-block;
            background: transparent;
            position: absolute;
            i {
                color: $green_brand_color;
            }
        }
    }
    .search-field {
        background-color: transparent;
        background-image: url(search-solid.svg);
        background-position: 5px center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border: none;
        cursor: pointer;
        height: 20px;
        padding: 0 0 0 34px;
        position: relative;
        -webkit-transition: width 400ms ease, background 400ms ease;
        transition: width 400ms ease, background 400ms ease;
        width: 0;
        &:focus {
            background-color: transparent;
            cursor: text;
            outline: 0;
            width: 230px;
        }
        input[type="search"] {
            color: #666;
            border: none;
            background: transparent;
        }
    }
}

.main-navigation {
    padding: 20px 0;
    display: flex;
    align-items: center;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            padding-right: 30px;
        }
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: $base__space-unit;
            left: -999rem;
            z-index: 99999;
            ul {
                left: -999rem;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
            :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        float: left;
        position: relative;
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
        color: $white_text;
        font-size: 16px;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a {}
    i {
        color: $white_text;
    }
}


    .site-header {
        .search-form {
            margin-left: 10px;
            right: 200px;
            top: 200px;
            color: $white-text;
            .search-submit {
                display: inline-block;
                background: transparent;
                position: absolute;
                i {
                    color: #fff !important;
                }
            }
        }
        .search-field {
            background-color: transparent;
            background-image: url(search-solid.svg);
            background-position: 5px center;
            background-repeat: no-repeat;
            background-size: 16px 16px;
            border: none;
            cursor: pointer;
            height: 20px;
            padding: 0 0 0 34px;
            position: relative;
            -webkit-transition: width 400ms ease, background 400ms ease;
            transition: width 400ms ease, background 400ms ease;
            width: 0;
            color: $white-text;
            &:focus {
                background-color: transparent;
                cursor: text;
                outline: 0;
                width: 230px;
            }
        }
    }


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 $base__space-unit;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}