/*--------------------------------------------------------------
# product - front-page
--------------------------------------------------------------*/

.product_page {
    padding-top: 30px;
    height: 550px;
    text-align: center;
}

.product_container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.product_wrapper {
    box-sizing: border-box;
    border: 1px solid $light_gray_brand_color;
    border-top-width: 5px;
    flex: 0 1 24%;
    height: 280px;
    padding: 12px;
    &:hover {
        border-color: $orange_color;
    }
    img {
        width: 80px;
        height: 80px;
    }
    p {
        height: 70px;
    }
    a {
        padding: 10px 15px;
        color: $white_text;
        background: $green_brand_color;
    }
}

//single-products
.product {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    .product-image {
        flex: 0 1 46%;
    }
    .product-description {
        flex: 0 1 49%;
    }
    h2 {
        color: $orange_color;
        font-size: 2.5rem;
        margin: 0;
    }
    p {
        margin: 10px 0;
    }
    span {
        font-family: ' Novecento Sans', sans-serif;
        font-size: 1.5rem;
    }
}


